


* {
  margin: 0;
  padding: 0;
  color: #bdbdbd;
  height: 300px;
  font-family: Cascadia Mono ExtraLight;
  font-size: 18px;
}

body {
  background-color: #252525;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 14px 40px 0;
  height: 50px;
}

span {
  margin: 0 10px;
}

span:hover {
  color: rgb(255, 255, 255);
}

.principal{
  display: flex;
}

sidebar {
  display: flex;
  width: 90px;
  flex-direction: column;
  height: 800px;
  border-radius: 8px;
  position: absolute;
  transition: width 0.3s;
  margin: 32px 0 0 40px;
  top: 60px;
  background-color: #3a3a3a;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  -webkit-transition:  0.3s;
  -moz-transition:  0.3s;
  -ms-transition:  0.3s;
  -o-transition:  0.3s;
}

sidebar > hr {
  transition: width 0.3s;
}

sidebar:hover > div > span {
  display: block;
}

sidebar > div {
  display: flex;
  /* flex-wrap: wrap; */
  height: 70px;
  align-items: center;
  margin: 3px 0 0 30px;
}

sidebar > div > span {
  display: none;
  height: 20px;
  margin-left: 20px;
}


sidebar:hover {
  width: 200px;
}



sidebar:hover > hr {
  width: 170px !important;
}

sidebar:hover ~ main {
  opacity: 0.3;
}

main {
  margin: 30px 100px 0 200px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  height: 100vh;
  z-index: 0;
  transition: opacity 0.3s ease;
  background-color: #3a3a3a;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
}

.main-container > * {
  /* border: 1px solid white; */
} 

.main-head {
  /* border: 1px solid white; */
  position: relative;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  background-image: url("./assets/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.icon-img{
  width: 300px;
  height: 300px;
  display: flex;
  position: absolute;
  top: 250px;
  margin-left: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icon-img > img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.main-body {
  height: 90vh;
}

.principal-main-info{
  display: flex;
  flex-direction: column;
  height: 60px;
  padding-left: 370px;
  padding-top: 20px;
}

.principal-main-info > * {
  margin: 0;
}

.social-network{
  display: flex;
  position: relative;
  height: 20px;
  bottom: 40px;
  right: 10px;
  position: absolute;
}

.social-network > img {
  background-color: #f1fcff;
  display: flex;
  margin: 8px;
  padding: 4px;
  border-radius: 6px;
  width: 28px;
  height: 28px;
  transition: background-color 0.3s;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.social-network > img:hover {
  background-color: #919191;
}

