:root {
  --light-pink: #f1d0ff53;
  --dark-pink: #f1d0ff53;
  --light-zapote: #efc6c6;
  --light-yellow: #f7e1c2;
  --light-purple: #d6d2fd;
  --light-green: #c3efdb;
}

body {
  background-color: var(--light-pink);
  font-family: inrina-regular, sans-serif;
}

@font-face {
  font-family: "inrina-regular";
  src: url("./assets/fonts/InriaSans-Regular.ttf") format("truetype");
  font-display: swap;
}

.top {
  height: 40px;
  width: 100%;
  border-bottom: 2px solid var(--dark-pink);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.top > div:nth-child(2),
.top > div:nth-child(2) > div {
  width: 450px;
  height: 90%;
  border-radius: 7px;
  background-color: var(--dark-pink);
  display: flex;
  padding: 0 14px;
  align-items: center;
  gap: 10px;
}

.top > div:nth-child(1) {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 20px;
}

.top > div:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}

.data-lucide {
  width: 12px;
  height: 12px;
}

div[data-lucide] {
  width: 12px;
  height: 12px;
}

.main_ {
  padding: 20px;
  display: grid;
  grid-template-columns: 0.3fr 3fr 1.2fr; /* Proporciones de ancho */
  grid-template-rows: 100%; /* La altura será igualada */
  height: 85vh; /* Altura de toda la ventana */
}

.main_ > div {
  /* border: 1px solid #484848; Opcional: Para visualizar las columnas */
}

.main_ > div:nth-child(1) {
  background-color: var(--dark-pink);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  padding: 20px 0;
}

.main_ > div:nth-child(1) > div:nth-child(2),
.main_ > div:nth-child(1) > div:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main_ > div > div:nth-child(2) > svg,
.main_ > div > div:nth-child(3) > svg {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.main_ > div > div:nth-child(3) > img {
  padding: 10px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

/* center content */
.main_ > div:nth-child(2) {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
}

.center-content-skills {
  display: flex;
  overflow: hidden;
  align-items: center;
  border: 1px solid black;
  height: 50px;
  gap: 10px;
}

.center-content-skills > div {
  font-size: 24px;
  display: flex;
  align-items: center;
  margin: 0 4px;
  gap: 10px;
  background-color: var(--dark-pink);
  height: 100%;
  padding: 0 20px;
  border-radius: 30px;
}

.main_ > div:nth-child(2) > h1 {
  font-size: 80px;
  font-weight: 200;
}
